* {
     margin: 0;
     padding: 0;
     font-family: 'Karla', sans-serif;
     border: none;
     box-sizing: border-box;
}

/* Welcome Section */
.welcome {
     display: flex;
     background-image: linear-gradient(45deg, transparent 90%, #FF2E63 90%),
     linear-gradient(45deg, #08D9D6 10%, #E4F9F5 10%);
     width: 100%;
     height: 100vh;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}

.welcome > h1 {
     font-size: 3rem;
}

.welcome > h1, .welcome > h3 {
     padding: 0 0 0.5rem;
     line-height: 1.5;
     color: #252A34;
}

.welcome > button {
     padding: 1rem 2.5rem;
     font-size: 1.5rem;
     border-radius: 0.75rem;
     border: none;
     cursor: pointer;
     background-color: #FF2E63;
     color: white;
     margin: 1rem auto;
     transition: 0.125s ease;
}

.welcome > button:hover {
     transform: scaleX(1.1) scaleY(1.1);
}

.welcome > button:active {
     transform: scaleX(0.9) scaleY(0.9);
}
/* End of Welcome Section */

/* Quiz Section */
.quiz-body {
     width: 100%;
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-image: linear-gradient(45deg, transparent 90%, #FF2E63 90%),
     linear-gradient(45deg, #08D9D6 10%, #E4F9F5 10%);
}

.quiz {
     display: flex;
     gap: 3rem;
     flex-direction: column;
     max-width: 70%;

}

/* Answers */
.qa {
     margin: 2rem 0;
}

.answer {
     margin: 0.75rem 5rem 1rem 0;
     font-size: 1.25rem;
     padding: 0.5rem 1.5rem;
     border-radius: 10px;
     border: 1px solid #08D9D6;
     cursor: pointer;
     box-shadow: 3px 2px #08D9D6;
     transition: 0.125s ease;
}
.answer-correct {
     margin: 0.75rem 5rem 1rem 0;
     font-size: 1.25rem;
     padding: 0.5rem 1.5rem;
     border-radius: 10px;
     border: 1px solid #6BCB77;
     background-color: hsl(127.5, 48%, 60.8%, 0.5)
}

.answer-incorrect {
     margin: 0.75rem 5rem 1rem 0;
     font-size: 1.25rem;
     padding: 0.5rem 1.5rem;
     border-radius: 10px;
     border: 1px solid #E84545;
     background-color: hsl(0, 78%, 59%, 0.5);
}

.answer:hover {
     box-shadow: 0 0;
     transform: translateX(3px) translateY(2px);
}

input:checked ~ label .answer {
     box-shadow: 0 0;
     transform: translateX(3px) translateY(2px);
     background-color: hsl(179.1, 92.9%, 44.1%, 0.5);
}

.quiz-buttons {
     display: inline-block;
}

input {
     display: none;
}

/* Check Answers and Play Again Button */
.check-answers {
     background-color: #FF2E63;
     padding: 1rem 2.5rem;
     align-self: center;
     border-radius: 10px;
     text-align: center;
     color: white;
     font-size: 1.2rem;
     cursor: pointer;
     justify-content: center;
     transition: 0.125s ease;
}

/* Div for the Check Answers and Play Again Button*/
.button-parent {
     display: flex;
     width: 100%;
     justify-content: center;
     margin-top: 3rem;
     align-items: center;
     gap: 2rem;
}

.check-answers:hover {
     transform: scaleX(1.1) scaleY(1.1);
}

.check-answers:active {
     transform: scaleX(0.9) scaleY(0.9);
}

@media (max-width: 1415px) {
     .quiz {
          margin-top: 5rem;
     }
     .check-answers {
          margin-bottom: 3.25rem;
     }
     .button-parent {
          flex-direction: column;
     }
}

@media (max-width: 1000px) {
     .quiz-body {
          background-image: linear-gradient(45deg, transparent 95%, #FF2E63 95%),
          linear-gradient(45deg, #08D9D6 5%, #E4F9F5 5%);
     }
     h2:not(.button-parent > h2) {
          font-size: 1.2rem;
          word-wrap: break-word;
          word-break:normal;
          width: 85%;
     }
     .quiz-buttons {
          display: flex;
          flex-direction: column;
          margin: 0;
     }
     .answer, .answer-incorrect, .answer-correct {
          margin-left: 0;
          margin-right: 0;
     }
}
